.Row1_Main{
    width: 100%;
    background: #000;
    color: #fff;
    /* position: relative;
    left: 16vw; */
    padding: 10px;
    display: flex;
}
.Row1_innerDiv{
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    /* width: 300px;
    height: 90px; */
    border: 1px solid green;
    border-radius: 9px;
    background-color: rgb(56, 56, 56);
    /* margin-right: 10px; */
}